<div class="container">
    <div class="search-header mat-elevation-z8">
        <mat-toolbar>

            <mat-form-field class="search-box">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
            </mat-form-field>

            <span class="fill-remaining-space"></span>
            <button mat-raised-button [routerLink]="['/edit', 0]" color="accent">Add song</button>
            <button mat-raised-button [disabled]="selectedRow == -1" [routerLink]="['/edit', songToEdit]" color="accent" class="m-1">Edit song</button>
            <button mat-raised-button class="margin-left" color="primary">Random song</button>
        </mat-toolbar>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="Author">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Author </mat-header-cell>
            <mat-cell *matCellDef="let song"> {{song.Author}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
            <mat-cell *matCellDef="let song"> {{song.Title}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Difficulty">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-difficulty"> Difficulty </mat-header-cell>
            <mat-cell *matCellDef="let song" class="mat-column-difficulty"> {{song.Difficulty}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Year">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-year"> Year </mat-header-cell>
            <mat-cell *matCellDef="let song" class="mat-column-year"> {{song.Year}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Genre">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-genre"> Genre </mat-header-cell>
            <mat-cell *matCellDef="let song" class="mat-column-genre"> {{song.Genre}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Language">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-language"> Language </mat-header-cell>
            <mat-cell *matCellDef="let song" class="mat-column-language"> {{song.Language}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Link">
            <mat-header-cell *matHeaderCellDef class="mat-column-genre"> Link </mat-header-cell>
            <mat-cell *matCellDef="let song" class="mat-column-genre">
                <a href="{{song.Link}}" mat-raised-button color="primary" target="_blank">Open</a>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="setClickedRow(i, row)" [class.active]="i == selectedRow"></mat-row>
    </mat-table>
</div>