html {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

.mat-header-cell {
    font-size: 150%;
}

.search-box {
    width: 30%;
    height: 62px;
}

.mat-column-year {
    flex: 0 0 80px !important;
    white-space: unset !important;
}

.mat-column-genre {
    flex: 0 0 100px !important;
    white-space: unset !important;
}

.mat-column-language {
    flex: 0 0 140px !important;
    white-space: unset !important;
}

.mat-table {
    min-width: 1000px;
}

.search-header {
    min-width: 1000px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.highlight {
    background-color: #F5F5F5;
}