$ligher-blue: #c5cae9;
html {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

// .container {
//     display: flex;
//     flex-direction: column;
//     min-width: 300px;
// }
// .mat-table {
//     overflow: auto;
// }
.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

.mat-header-cell {
    font-size: 150%;
}

.search-box {
    width: 30%;
    height: 62px;
}

.mat-column-year {
    flex: 0 0 80px !important;
    white-space: unset !important;
}

.mat-column-genre {
    flex: 0 0 100px !important;
    white-space: unset !important;
}

.mat-column-language {
    flex: 0 0 140px !important;
    white-space: unset !important;
}

.mat-column-difficulty {
    flex: 0 0 120px !important;
    white-space: unset !important;
}

.mat-table {
    min-width: 1000px;
    margin-bottom: 20px;
}

.search-header {
    min-width: 1000px;
}

.highlight {
    background-color: #F5F5F5;
}

.mat-table-selectable {
    .mat-row:hover {
        background: #eeeeee;
    }
    .mat-row.selected {
        background: #f5f5f5;
    }
}

.margin-left {
    margin-left: 20px;
}

.active {
    background: $ligher-blue;
}