<div class="form-container container" [formGroup]="form">
    <div class="page-header">
        <h3 class="text-justi mt-2" color="primary">{{pageTitle}}</h3>
    </div>
    <hr width=100% align=left>
    <mat-form-field>
        <input matInput formControlName="authorControl" placeholder="Author">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="titleControl" placeholder="Title">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Year" formControlName="yearControl">
            <mat-option *ngFor="let y of years" value="{{y}}" name="Year" ngDefaultControl>{{y}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Genre" formControlName="genreControl">
            <mat-option *ngFor="let g of genres" value="{{g}}" name="Genre" ngDefaultControl>{{g}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Language" formControlName="languageControl">
            <mat-option *ngFor="let l of languages" [value]="l" name="Language" ngDefaultControl>{{l}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="YouTube Link" formControlName="linkControl">
    </mat-form-field>
    <button mat-raised-button (click)="navigateBack()" color="primary">Cancel</button>
    <button mat-raised-button color="accent" class="float-right" [disabled]="!form.valid" (click)="addSong()">Add</button>

</div>