<div class="form-container container">
    <div class="page-header">
        <h3 class="text-justi mt-2" color="primary">Add new song</h3>
    </div>
    <hr width=100% align=left>
    <mat-form-field>
        <input matInput [(ngModel)]="songToAdd.Author" placeholder="Author">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="songToAdd.Title" placeholder="Title">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Year">
            <mat-option *ngFor="let y of years" [(ngModel)]="songToAdd.Year" value="y" name="Year" ngDefaultControl>{{y}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Genre">
            <mat-option *ngFor="let g of genres" [(ngModel)]="songToAdd.Genre" value="g" name="Genre" ngDefaultControl>{{g}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Language">
            <mat-option *ngFor="let l of languages" [(ngModel)]="songToAdd.Language" value="l" name="Language" ngDefaultControl>{{l}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="YouTube Link" [(ngModel)]="songToAdd.Link">
    </mat-form-field>
    <button mat-raised-button routerLink="/data" color="primary">Cancel</button>
    <button mat-raised-button color="accent" class="float-right" (click)="addSong()">Add</button>

</div>