<div class="form-container container">
    <div class="page-header">
        <h3 class="text-justi mt-2" color="primary">Add new song</h3>
    </div>
    <hr width=100% align=left>
    <mat-form-field>
        <input matInput placeholder="Author">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Title">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Genre">
            <mat-option value="option">2001</mat-option>
            <mat-option value="option">2002</mat-option>
            <mat-option value="option">2003</mat-option>
            <mat-option value="option">2004</mat-option>
            <mat-option value="option">2005</mat-option>
            <mat-option value="option">2006</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Genre">
            <mat-option value="option">Pop</mat-option>
            <mat-option value="option">Rock</mat-option>
            <mat-option value="option">Country</mat-option>
            <mat-option value="option">Hip Hop</mat-option>
            <mat-option value="option">Electronic</mat-option>
            <mat-option value="option">Reggae</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Language">
            <mat-option value="option">English</mat-option>
            <mat-option value="option">Polish</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="YouTube Link">
    </mat-form-field>
    <button mat-raised-button routerLink="/data" color="primary">Cancel</button>
    <button mat-raised-button color="accent" class="float-right">Add</button>

</div>